<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header><h1>Sign Up</h1></header>
    <main>
      <form action="" method="POST">
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input class="input" type="text" placeholder="Text input" type="text" name="name">
          </div>
        </div>
        <%if(error){%>
          <p class="error"><%=error%></p>
        <%}%>
        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input class="input" type="email" placeholder="Email input" name="email">
          </div>
        </div>
    
        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input class="input" type="password" placeholder="Password" name="password">
          </div>
        </div>
        
        <div class="field">
          <label class="label">Age</label>
          <div class="control">
            <input class="input" type="number" placeholder="Age" name="age">
          </div>
        </div>
        
        <div class="field">
          <label class="label">Phone</label>
          <div class="control">
            <input class="input" type="number" placeholder="Phone Number" name="phone">
          </div>
        </div>
        
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link">Submit</button>
          </div>
          <div class="control">
            <a href="/users/login" class="button is-link is-light">Login</a>
          </div>
        </div>
      </form>
    </main>
  </body>
</html>
