  
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <header class="header">
        <nav class="nav flex">
          <h1>Blog App</h1>
          <ul class="flex">
            <li><a class="btn" href="/users/register">Sign Up</a></li>
            <li><a class="btn" href="/users/login">Log In</a></li>
          </ul>
        </nav>
      </header>
    <main>
      <form class="container sign-form" method="POST">
        <h2>Create new account</h2>
        <%if( error){%>
          <p class="error"><%=error%></p>
        <%}%>
        <div class="field">
          <label class="label">First Name</label>
          <div class="control">
            <input class="input" type="text" placeholder="First Name" type="text" name="fname">
          </div>
        </div>
        <div class="field">
            <label class="label">Last Name</label>
            <div class="control">
              <input class="input" type="text" placeholder="Last Name" type="text" name="lname">
            </div>
          </div>
        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input class="input" type="email" placeholder="Email input" name="email">
          </div>
        </div>
    
        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input class="input" type="password" placeholder="Password" name="password">
          </div>
        </div>

        <div class="field">
            <label class="label">City</label>
            <div class="control">
              <input class="input" type="text" placeholder="City" type="text" name="city">
            </div>
          </div>
        
        <div class="field is-grouped">
          <div class="control">
            <button type="submit" class="btn is-link is-light">Sign Up</button>
          </div>
          <div class="control">
            <a href="/articles" class="btn is-link is-light">Back to articles</a>
          </div>
        </div>
      </form>
    </main>
  </body>
</html>