body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

.error {
  color: red;
  margin: .3rem 0;
}
